<html>
    <head>
        <title>Bronny</title>
        {%load static%}
    </head>
    <font  color="white"  size="7"><h1><center><b><tt>BASKETSTARS</tt></b></center></h1></font>
    <body  bgcolor="#5B0286">
        <img src="{% static 'bronny.png'%}"   hspace="0" align="left"  width="500"/>
        <font color="white">
            <h2><a href="{% url 'about_Nikolai' %}">gotonextpage</a></h2>
            <h2><a href="{% url 'AllPlayers' %}">ALLNBAPLAYERS</a></h2>
        </font>
    </body>
</html>