<html>
    <head>
        <title>basket stars homepage</title>
        {%load static%}
    </head>
    <font  color="#e7c91b"  size="7"><h1><center><b><tt>BASKETSTARS</tt></b></center></h1></font>
    <body  bgcolor="#000000">
        <img src="{% static 'bronny.png'%}"   hspace="0" align="left"  width="500"/>
        <h2><a style="color: #e7c91b;" href="{% url 'about_Nikolai' %}">gotonextpage</a></h2>
        <h2><a style="color: #e7c91b;" href="{% url 'AllPlayers' %}">ALLNBAPLAYERS</a></h2>
    </body>
</html>